.container {
    margin: auto;
    width: 46%;
    position: relative;
    background-color: aqua;
    height: 610px;
}

.row1 input {
    height: 40px;
    width: 48%;

}

.row3 input {
    height: 40px;
    width: 98%;

}

.row2 {
    display: flex;
}

.row2 input {
    height: 40px;
    width: 250px;
}

.submit {
    position: absolute;
    left: 35%;
    text-align: center;
    width: 25%;
}