.item1 {
    grid-area: logo;
}

.item2 {
    grid-area: menu;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: center;
}

#navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}


.item3 {
    grid-area: image;
}

.item4 {
    grid-area: feat1;
}

.item5 {
    grid-area: feat2;
}

.item6 {
    grid-area: feat3;
}

.item7 {
    grid-area: sidebar;
}

.menu2 {
    display: grid;
    margin: auto;
    justify-content: center;
}

#navlink2 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.menu2 a {
    color: black;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
}

.menu2 a:hover {
    background-color: #ddd;
    color: black;
}

.item8 {
    grid-area: text;
}

.item9 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'logo logo menu menu menu menu'
        'image image image image image image'
        'feat1 feat1 feat2 feat2 feat3 feat3'
        'sidebar sidebar text text text text'
        'footer footer footer footer footer footer';

    gap: 5px;
    background-color: black;
    padding: 5px;
}

.grid-container>div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}