.container {
    margin: auto;
    display: flex;
    max-width: 1500px;
    margin-right: 100px;

}

.bigcontainer2 {
    margin: auto;
    display: flex;
    max-width: 1500px;
    margin-right: 100px;
}


#image2 {
    display: grid;
    gap: 40px;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;

}

.bigcontainer {
    background-image: url(../image/Bg\ Shape@2x.png);
    height: 500px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    max-width: 1024px;
    margin: auto;
}

#button {
    position: absolute;
    left: 80px;
    top: 300px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 250px;

}

#text {
    position: absolute;
    left: 40px;
    top: 15px;
    color: white;
}

a {
    text-decoration: none;
}

.container div {
    flex: 1;
}

.header {
    display: flex;
    margin-left: 80px;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: right;
}

#navlink {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 250px;
}

.menu a {
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.image {
    position: absolute;
    top: 100px;
    right: 100px;
}

.container2 {
    position: absolute;
    top: 130px;
    left: 80px;
    line-height: 15px;
}

#icon {
    position: absolute;
    top: 500px;
    left: 45%;
}

/* page2------------------------------------------------------------------------------------- */
.container3 {
    display: flex;
    max-width: 1500px;
    margin: auto;
    position: relative;
    background-image: url(../image/who\ we\ are\ background@2x.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
}

.image3 {
    margin-top: 100px;
}

.container4 {
    margin-top: 200px;
    margin-left: 50px;
}

#button2 {
    position: absolute;
    right: 300px;
    bottom: 100px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 250px;

}

#text2 {
    position: absolute;
    left: 70px;
    top: 15px;
    color: white;
}

a {
    text-decoration: none;
}

/* page3--------------------------------------------------------------------------------- */
.container5 {
    max-width: 1024px;
    margin: auto;
    line-height: 15px;
    position: relative;
    height: 1020px;
}

#background {
    position: absolute;
    top: 350px;
}

.item1 {
    position: absolute;
    top: 70px;
    grid-area: service1;
    position: relative;
    background-color: white;
}

.item2 {
    position: absolute;
    top: 70px;
    grid-area: service2;
    position: relative;
    background-color: white;
}

.item3 {
    position: absolute;
    top: 70px;
    grid-area: service3;
    position: relative;
    background-color: white;
}

.item4 {
    position: absolute;
    top: 50px;
    grid-area: service4;
    position: relative;
    background-color: white;
}

.item5 {
    position: absolute;
    top: 50px;
    grid-area: service5;
    position: relative;
    background-color: white;
}

.item6 {
    position: absolute;
    top: 50px;
    grid-area: service6;
    position: relative;
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'service1 service1 service2 service2 service3 service3'
        'service4 service4 service5 service5 service6 service6';
    gap: 50px;

    padding: 10px;
}

.grid-container>div {
    text-align: center;
    font-size: 15px;
}

.button3 {
    position: absolute;
    right: 30px;
    bottom: 10px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 130px;

}

.text3 {
    position: absolute;
    left: 30px;
    top: 6px;
    color: white;
}

a {
    text-decoration: none;
}

div.item1 {
    box-shadow: 0px 20px 20px gray;
    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.item2 {
    box-shadow: 0px 20px 20px gray;
    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.item3 {
    box-shadow: 0px 20px 20px gray;
    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.item4 {
    box-shadow: 0px 20px 20px gray;
    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.item5 {
    box-shadow: 0px 20px 20px gray;
    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.item6 {
    box-shadow: 0px 20px 10px gray;
    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

.title3 {
    padding-left: 20px;
    text-align: left;
}

/* page4--------------------------------------------------------------------------------- */

.container6 {
    position: relative;
    background-color: #ddddfa;
    margin: auto;
    text-align: center;
    max-width: 1024px;

}

.price1 {
    grid-area: price1;
}

.price2 {
    grid-area: price2;
}

.price3 {
    grid-area: price3;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
        'price1 price1 price2 price2 price3 price3';
    gap: 30px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 60px;
}

.grid-container2>div {
    text-align: center;
    background-color: white;
    padding: 20px 0;
    font-size: 20px;
}

.button4 {
    position: absolute;
    left: 140px;
    bottom: 50px;
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 30px;
}

.text4 {
    position: absolute;
    left: 28px;
    top: 6px;
    color: black;
    font-size: 15px;

}

a {
    text-decoration: none;
}

div.price1 {

    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.price2 {

    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

div.price3 {

    border-radius: 12px;
    padding: 5px;
    height: 320px;
    width: 270px;
}

.button5 {
    position: absolute;
    left: 43%;
    bottom: 40px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 130px;

}

.text5 {
    position: absolute;
    left: 30px;
    top: 6px;
    color: white;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.button6 {
    position: absolute;
    right: 140px;
    bottom: 50px;
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 30px;
}

.text6 {
    position: absolute;
    left: 28px;
    top: 6px;
    color: black;
    font-size: 15px;
}

a {
    text-decoration: none;
}

/* page5--------------------------------------------------------------------------------- */
.container7 {
    display: flex;
}