.bigcontainer2 {
    background-image: url(../image/background_universe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 50px;
}

.text {
    text-align: center;
    color: white;
    padding-left: 15vw;
    padding-right: 15vw;
}


/* ------------------------------------------------------------------------------------------------------------------------------ */

.bigcontainer3 {
    background-color: #D6E6FF;
    display: flex;
    height: 1000px;
}

.badminton {
    justify-content: center;
    text-align: center;
    margin-top: 5vw;
}

.content2 p1 {
    text-align: center;
    color: #C65BEC;
}

.content2 {
    width: 50%;
    padding-top: 30px;
    margin-left: 50px;
}

.content8 {
    width: 50%;
    padding-top: 30px;
    margin-left: 50px;
}

.color {
    color: #180078;
    margin-left: 50px;

}

.color8 {
    color: #180078;
    margin-left: 50px;
    line-height: 20px;
}

.mix {
    display: flex;
}


.image {
    margin-top: 150px;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .bigcontainer3 {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .mix {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .content2 p {
        line-height: 20px;
    }

    .content2 {
        justify-content: center;
        text-align: center;
        width: 75%;
        margin: auto;
    }

    .content8 {
        margin: auto;
        margin-bottom: 20px;
    }

    .color {
        margin: auto;
    }

    .color8 {
        margin-left: 0px;
    }


    .image {
        margin-top: 20px;
        padding-bottom: 90px;
        margin-right: 20px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.bigcontainer4 {
    height: 580px;
    background-color: #739EDF;
    color: #180078;
    padding-top: 10px;
}

.container2 {
    margin-left: 100px;
    margin-top: 30px;
}

.all {
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
    padding-left: 2vw;

}

.all p {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: justify;
}

.shaobao {
    margin-left: 30px;
}

.seafood {
    margin-right: 40px;
}

.special {
    border-radius: 20%;
}

@media screen and (max-width: 600px) {
    .bigcontainer4 {
        height: auto;
        padding-bottom: 40px;
    }

    .container2 {
        text-align: center;
        justify-content: center;
        margin-left: 0px;
    }

    .all {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .shaobao {
        margin: auto;
    }

    .seafood {
        margin: auto;
    }

    .special {
        width: 80%;
    }
}

/* -------------------------------------------------------------------------------------------------------------------------- */