body {
    max-width: 1024px;
    margin: auto;

}

h2 {
    font-size: 20px;
    font-family: 'Epilogue', sans-serif;
}

h1 {
    font-size: 40px;
    font-family: 'Epilogue', sans-serif;
}

p {
    font-size: 15px;
    font-family: 'Epilogue', sans-serif;
}

#title {
    color: white;
    margin-top: 10px;
}

.logo {
    display: flex;
}

.topnav {
    position: relative;
    overflow: hidden;
}

.contact {
    background-image: url(../image/background_universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 8%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../image/background_universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }


    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 10px;
        right: 35px;
    }
}

.bigcontainer {
    background-image: url(../image/background_universe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container2 {
    display: flex;
    margin-top: 50px;
}

.content {
    margin-left: 100px;
    color: white;
}

.picture {
    margin-left: 200px;
    margin-top: 15px;
}

.me {
    border-radius: 18%;
}

.startup {
    margin-left: 50px;
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .bigcontainer {
        flex-direction: block;
        width: auto;
        height: auto;
        justify-content: center;
        text-align: center;
    }

    .container2 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .picture {
        flex-direction: column;
        margin-left: 10px;
        justify-content: center;
        text-align: center;
        order: 2;
    }

    .content {
        flex-direction: column;
        order: 3;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
    }


    .startup {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 1px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------- */

.bigcontainer2 {
    background-color: #D6E6FF;
    margin: auto;
    display: flex;
    height: 600px;
}

.content2 {
    margin-top: 100px;

}

.layout {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.content2 p {
    font-family: 'Epilogue', sans-serif;
    font-size: 12px;
    color: #C65BEC;
}

#content {
    font-family: 'Epilogue', sans-serif;
    font-size: 12px;
    color: #180078;
}

.image2 {
    margin-right: 20%;
}

#title2 {
    font-family: 'Epilogue', sans-serif;
    font-size: 35px;
    color: #180078;
}

#title3 {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    color: #180078;
}

.mountain {
    margin-top: 120px;
    margin-left: 80px;
}

.about {
    margin-top: 30px;
}

.about input {
    color: white;
    background-color: #739EDF;
    border: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .bigcontainer2 {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .image {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
        margin-right: 80px;
        margin-top: 10px;
    }

    .content2 {
        justify-content: center;
        text-align: center;
        margin-top: auto;
        margin: auto;
    }

    .image2 {
        margin-right: 0;
    }

    .layout {
        justify-content: space-around;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */

.bigcontainer3 {
    height: 770px;
    background-color: #739EDF;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Epilogue', sans-serif;

}

.all {
    display: flex;

}

.img1 {
    margin-left: 130px;
}

.text {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.favourite {
    margin-right: 255px;
}

.movie4 {
    border-radius: 20%;
}


.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.dot {
    border: 1px solid black;
    height: 10px;
    width: 10px;
    background-color: #739EDF;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.read input {
    color: white;
    background-color: #4127DC;
    border: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .bigcontainer3 {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
        height: auto;
        order: 1;
    }

    .text {
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .content3 {
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .img1 {
        display: block;
        flex-direction: column;
        order: 2;
    }


    .favourite {
        display: block;
        flex-direction: column;
        text-align: center;
        order: 4;
    }

    /* .all {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .movie {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .movie2 {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .movie3 {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .text2 {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .moana {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .luca {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    }

    .encanto {
        flex-direction: column;
        width: auto;
        justify-content: center;
        text-align: center;
    } */
}