.bigcontainer2 {
    background-image: url(../image/background_universe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 50px;
}

.text {
    text-align: center;
    color: white;
    padding-left: 15vw;
    padding-right: 15vw;
}


/* ------------------------------------------------------------------------------------------------------------------------------ */
.bigcontainer3 {
    height: 820px;
    background-color: #D6E6FF;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #180078;
}

.text2 {
    text-align: justify;
    justify-content: center;
    color: #180078;
    padding-left: 10vw;
    padding-right: 10vw;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
.bigcontainer4 {
    height: 920px;
    background-color: #739EDF;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #180078;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
.bigcontainer5 {
    height: 820px;
    background-color: #D6E6FF;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #180078;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
    .bigcontainer3 {
        flex-direction: column;
        height: auto;
    }

    .bigcontainer4 {
        flex-direction: column;
        height: auto;
    }

    .bigcontainer5 {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    .text2 {
        text-align: center;
    }
}