#div1 {
    background-color: lightblue;
    width: 200px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
}

#div2 {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    background-size: 100% 100%;
}

#div3 {

    background-image: url("../img/backgroud4.jpg");
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    background-size: 50px;

}

#div4 {

    border: 20px solid black;
    padding: 50px;
    margin: 20px;


}