.jersey1 {
    background-color: #CFCFCF;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
}

.box1 {
    background-color: #747474;
    height: fit-content;
    width: 45%;
}

.box1 button {
    margin-left: 2%;
    margin-bottom: 2%;
}

ul {
    color: white;
}

.liverpool h5 {
    text-align: center;
    color: white;
    margin-top: 3%;
    margin-bottom: 4%;
}

.paris h5 {
    text-align: center;
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
}

.jersey2 {
    background-color: #CFCFCF;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}


.laker h5 {
    text-align: center;
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
}

.warrior h5 {
    text-align: center;
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
}

.jersey3 {
    background-color: #CFCFCF;
    padding-bottom: 1%;
    padding-top: 1%;
}

.box5 {
    display: flex;
    background-color: #747474;
    width: 93.5%;
    margin: auto;
}

.box5 button {
    margin-left: 2%;
    margin-bottom: 2%;
}

.imagemen {
    width: 50%;
}

.men {
    width: 50%;
    padding-top: 2%;
}

.men h5 {
    text-align: center;
    color: white;
}

.picture img {
    opacity: 0.4;
}

.picture {
    position: relative;
    background-color: black;
}

.title {
    position: absolute;
    top: 45%;
    left: 3%;
}

.title h1 {
    color: white;
}

@media screen and (max-width: 700px) {

    .jersey1 {
        flex-direction: column;
    }

    .box1 {
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }

    .jersey2 {
        flex-direction: column;
    }

    .box1 {
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }

    .box5 {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .box5 button {
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .men {
        width: 100%;
        margin: auto;
    }

    .imagemen {
        width: 100%;
    }

    .footerrow {
        flex-direction: column;
    }

    .column2 {
        margin-bottom: 2%;
        width: 100%;
    }

    .column3 {
        margin-bottom: 2%;
        width: 100%;
    }

    .title h1 {
        font-size: large;
    }
}