.jersey1 {
    background-color: #747474;
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
}

.box1 {
    background-color: #CFCFCF;
    height: fit-content;
    width: 45%;
}

.box1 button {
    margin-left: 2%;
    margin-bottom: 2%;
}

ul {
    color: black;
}

.women h5 {
    text-align: center;
    color: black;
    margin-top: 3%;
    margin-bottom: 4%;
}



.heat h5 {
    text-align: center;
    color: black;
    margin-top: 4%;
    margin-bottom: 3%;
}



.jersey2 {
    background-color: #747474;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}


.bra h5 {
    text-align: center;
    color: black;
    margin-top: 3%;
    margin-bottom: 5%;
}



.fresh h5 {
    text-align: center;
    color: black;
    margin-top: 3%;
    margin-bottom: 5%;
}



.jersey3 {
    background-color: #747474;
    padding-bottom: 1%;
    padding-top: 1%;
}

.box5 {
    display: flex;
    background-color: #CFCFCF;
    width: 93.5%;
    margin: auto;
}

.box5 button {
    margin-left: 2%;
    margin-bottom: 2%;
}

.imagewomen {
    width: 50%;
}

.tank {
    width: 50%;
    padding-top: 2%;
}

.tank h5 {
    text-align: center;
    color: black;
}

.picture img {
    opacity: 0.4;
}

.picture {
    position: relative;
    background-color: black;
}

.title {
    position: absolute;
    top: 45%;
    left: 3%;
}

.title h1 {
    color: white;
}

@media screen and (max-width: 700px) {

    .jersey1 {
        flex-direction: column;

    }

    .box1 {
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }

    .jersey2 {
        flex-direction: column;
    }

    .box1 {
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }

    .box5 {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .box5 button {
        margin-left: 2%;
        margin-bottom: 2%;
    }


    .tank {
        width: 100%;
        margin: auto;
    }

    .imagewomen {
        width: 100%;
    }

    .title h1 {
        font-size: large;
    }

}