.backgroud {
    background-color: #626262;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    color: white;
}

.blur {
    opacity: 0.6;
}

.blur2 {
    opacity: 0.4;
}

.home {
    position: relative;
    background-color: black;
}

.home2 {
    position: relative;
    background-color: black;
}


.text2 h1 {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;

}

.text2 p {
    position: absolute;
    top: 52%;
    left: 15%;
    color: white;
    font-size: larger;
}

.text h1 {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;

}

.text p {
    position: absolute;
    top: 52%;
    left: 15%;
    color: white;
    font-size: larger;
}

.button {
    position: absolute;
    top: 65%;
    left: 15%;
    border-radius: 7%;
    background-color: white;
    padding: 0.5%;
}

.button a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;

}

.flex img {
    border-radius: 20%;
    padding-bottom: 1%;
    padding-top: 4%;
}

.flex a {
    text-decoration: none;
    color: white;
}

.bestsale {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.flex2 {
    display: flex;
    gap: 7%;
    justify-content: center;
}

.flex2 a {
    text-decoration: none;
    color: black;
}

.border {
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 15%;
    width: 18%;
    justify-content: center;
    padding-top: 2%;
}

.border h5 {
    margin-top: 10%;
}

.bad {
    position: relative;
}

.bad1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.ball {
    position: relative;
}

.ball1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.bag {
    position: relative;
}

.bag1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.image {
    background-color: #d9d9d9;
}

.bad:hover .bad1 {
    opacity: 1;

}

.ball:hover .ball1 {
    opacity: 1;
}

.bag:hover .bag1 {
    opacity: 1;
}



@media screen and (max-width: 1000px) {
    .flex {
        flex-direction: column;
        width: 90%;
        justify-content: center;
        text-align: center;
        height: auto;
        margin: auto;
    }

    .flex h5 {
        font-size: 90%;
    }

    .flex2 {
        flex-direction: column;
        gap: 20px;
    }

    .border {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }

    .border h5 {
        font-size: 90%;
    }

    .text2 button {
        margin-top: 6%;
    }

    .carousel-inner h1 {
        font-size: medium;
    }

    .carousel-inner p {
        font-size: medium;
    }

    .button {
        font-size: x-small;
    }

    .home .button {
        margin-top: 6%;
    }
}