.jersey1 {
    background-color: #CFCFCF;
    padding-top: 2%;
}

.box1 {
    display: flex;
    background-color: #747474;
    width: 95%;
    margin: auto;
}

ul {
    color: white;
}

.shortmen {
    width: 50%;
}


.box2 {
    display: flex;
    background-color: #747474;
    width: 95%;
    margin: auto;
}

.mentext {
    margin: auto;
}

.mentext li {
    text-align: left;
}

.mentext h5 {
    color: white;
    margin-bottom: 5%;
}

.mentext p {
    color: white;
}

.picture img {
    opacity: 0.4;
}

.picture {
    position: relative;
    background-color: black;
}

.title {
    position: absolute;
    top: 45%;
    left: 3%;
}

.title h1 {
    color: white;
}

@media screen and (max-width: 700px) {

    .box1 {
        text-align: center;
        flex-direction: column;
    }


    .box2 {
        text-align: center;
        flex-direction: column;
    }

    .shortmen {
        width: 100%;
        margin: auto;
        order: 1;
    }

    .mentext {
        order: 2;
    }

    .mentext li {
        font-size: 90%;
    }

    .mentext h5 {
        font-size: 90%;
    }

    .title h1 {
        font-size: large;
    }
}